@tailwind base;
@tailwind components;
@tailwind utilities;

/* ! importing fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body{
    background-color: #000;
    font-family: 'Lato', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* .scrollbar-hide{
    scrollbar-width: none;

} */
::-webkit-scrollbar {
    display: none;
  }

.button{
    background: linear-gradient(to right, transparent 0%, #31af94 71%, #1978d1 86%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
  /* font-weight: bold; */
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 1.3rem;
/* padding-inline: 1rem; */
font-weight: 700;

}